@import url(layout.css);
* {
  padding: 0;
  margin: 0;
}
  
body {
  margin: 1em 10%;
  background-image: url(../images/background.gif);
  background-attachment: fixed;
  background-position: top left;
  background-repeat: repeat-x;
  max-width: 80em;
}
  
#header {
  background-image: url("https://images.pexels.com/photos/1376766/nature-milky-way-galaxy-space-1376766.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-repeat: no-repeat;
  background-position: bottom right;
  border-width: .1em;
  border-style: solid;
  border-bottom-width: 0;
}
  
#navigation {
  background-image: url(  background-image: url("https://images.pexels.com/photos/2832382/pexels-photo-2832382.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  background-position: bottom left;
  background-repeat: repeat-x;
  border-width: .1em;
  border-style: solid;
  border-bottom-width: 0;
  border-top-width: 0;
  padding-left: 25%;
}
  
#navigation ul {
  width: 100%;
  overflow: hidden;
  border-left-width: .1em;
  border-left-style: solid;
}
  
#navigation li {
  display: inline;
}
  
#navigation li a {
  display: block;
  float: left;
  padding: .5em 2em;
  border-right: .1em solid;
}
  
#content {
  border-width: .1em;
  border-style: solid;
  border-top-width: 0;
  padding: 2em 10%;
  line-height: 1.8em;
}

label {
  display: block;
}

fieldset {
  border: 0;
}

footer {
  background-image: url("https://images.pexels.com/photos/1376766/nature-milky-way-galaxy-space-1376766.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  font-size: 15px;
  padding: 0px;
  margin: 0px;
}

#imagegallery li {
  display: inline;
}